body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB9PCFuY9_fGPfOb9_WGjxklstFd6uDQ2KrQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 1500px;
}